click==7.1.2
future==0.18.2
gitdb==4.0.5
GitPython==3.1.8
Jinja2==2.11.3
joblib==0.16.0
livereload==2.6.3
lunr==0.5.6
Markdown==3.2.2
MarkupSafe==1.1.1
mkdocs==1.2.3
mkdocs-git-revision-date-plugin==0.3
mkdocs-material==5.5.12
mkdocs-material-extensions==1.0
mkdocs-redirects==1.0.1
nltk==3.6.6
Pygments==2.7.4
pymdown-extensions==7.1
PyYAML==5.4
regex==2021.8.3
six==1.15.0
smmap==3.0.4
tornado==6.0.4
tqdm==4.49.0
