.okctl-button {
    padding: 15px 32px;

    border: none;

    font-size: 16px;
    text-decoration: none;
    text-align: center;

    display: inline-block;
}

.okctl-button:visited {
    color: black !important;
}

.okctl-button.primary {
    background-color: #f9c66b;
    color: black !important;
}

.okctl-button.primary:hover {
    background: #2A2859;
    color: white !important;
}

.okctl-button.secondary {
    background-color: white;

    color: black !important;
}

.okctl-button.secondary:hover {
    color: #2A2859 !important;
}

