name: ci

on:
  - push
  - pull_request

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: apparmor
        run: |
          set -x
          sudo apt-get remove mysql-server --purge
          sudo apt-get install apparmor-profiles
          sudo apparmor_parser -R /etc/apparmor.d/usr.sbin.mysqld
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16.4
      - uses: actions/cache@v2.1.6
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - uses: actions/cache@v2.1.6
        with:
          path: ~/.cache/go-build
          key: ${{ runner.os }}-go-build-${{ hashFiles('log.txt') }}
          restore-keys: |
            ${{ runner.os }}-go-build-
      - name: Checkout code
        uses: actions/checkout@v2.4.0
      - name: Run golang checks
        run: make check
      - name: Check coverage
        run: make test-coverage
      - name: Check code coverage
        uses: codecov/codecov-action@v2.1.0
