name: macdebug

on:
  - push
#  - pull_request


jobs:
  ci:
    runs-on: macos-10.15
    steps:
      - name: apparmor
        run: |
          set -x
          sudo apt-get remove mysql-server --purge
          sudo apt-get install apparmor-profiles
          sudo apparmor_parser -R /etc/apparmor.d/usr.sbin.mysqld
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15.1
      - uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - uses: actions/cache@v2
        with:
          path: ~/.cache/go-build
          key: ${{ runner.os }}-go-build-${{ hashFiles('log.txt') }}
          restore-keys: |
            ${{ runner.os }}-go-build-
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Run golang checks
        run: make release-local
