name: 'Nightly build'

on:
  workflow_dispatch: {}
  schedule:
    - cron: 0 2 * * 1-5

jobs:
  create:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Test
        run: go test -v ./...

      - name: Build
        run: make release-local

      - uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.OKCTL_BOT_NIGHTLY_BUILD_SECRET_KEY }}

      - name: Create config
        run: |
          cat <<EOF > nightly-cfg.yaml
          apiVersion: okctl.io/v1alpha1
          kind: Cluster

          metadata:
            accountID: "${{ secrets.NIGHTLY_AWS_ACCOUNT_ID }}"
            name: nightly-test
            region: eu-west-1

          clusterRootDomain: nightly.auto.oslo.systems

          github:
            repository: okctl-iac
            organisation: oslokommune
            outputPath: infra

          integrations:
            argoCD: true
            autoscaler: true
            awsLoadBalancerController: true
            blockstorage: true
            cognito: true
            externalDNS: true
            externalSecrets: true
            kubePromStack: true
            loki: true
            promtail: true
            tempo: true

          vpc:
            cidr: 192.168.0.0/20
            highAvailability: true
          
          experimental:
            automatizeZoneDelegation: true
          EOF

      - name: Create cluster
        run: dist/linux_linux_amd64/okctl apply cluster --github-credentials-type token --aws-credentials-type access-key --no-spinner --file nightly-cfg.yaml
        env:
          OKCTL_DEBUG: true
          OKCTL_METRICS_USERAGENT: okctldev
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          GITHUB_TOKEN: ${{ secrets.OKCTL_BOT_NIGHTLY_BUILD_PAT }}

      - name: Delete cluster
        run: dist/linux_linux_amd64/okctl delete cluster --github-credentials-type token --aws-credentials-type access-key --no-spinner --confirm --cluster-declaration nightly-cfg.yaml
        env:
          OKCTL_DEBUG: true
          OKCTL_METRICS_USERAGENT: okctldev
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          GITHUB_TOKEN: ${{ secrets.OKCTL_BOT_NIGHTLY_BUILD_PAT }}

      - name: Notify
        if: ${{ always() }}
        uses: rtCamp/action-slack-notify@v2.2.0
        env:
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_KJOREMILJO }}
          SLACK_USERNAME: okctl-bot
          SLACK_MSG_AUTHOR: okctl-bot
          SLACK_COLOR: ${{job.status}}
          SLACK_TITLE: Nightly build
          SLACK_ICON_EMOJI: ':okctl-closeup:'
