name: preview

on:
  pull_request:
    types: [ labeled ]

jobs:
  build:
    if: ${{ github.event.label.name == 'preview' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.4.0

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Build
        run: make release-local

      - uses: jakejarvis/s3-sync-action@master
        with:
          args: --acl public-read --follow-symlinks --delete
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.PR_PREVIEW_AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.PR_PREVIEW_AWS_SECRET_ACCESS_KEY }}
          AWS_S3_BUCKET: 'okctl-pr-preview'
          AWS_REGION: 'eu-west-1'
          SOURCE_DIR: 'dist'
          DEST_DIR: ${{ github.event.pull_request.head.ref }}
          
      - name: Add URL comment to PR
        uses: unsplash/comment-on-pr@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          BRANCH: ${{ github.event.pull_request.head.ref }}
        with:
          msg: |
            Automatically generated preview of PR:
            [Linux](https://okctl-pr-preview.s3-eu-west-1.amazonaws.com/${{ env.BRANCH }}/linux_linux_amd64/okctl)
            [Darwin](https://okctl-pr-preview.s3-eu-west-1.amazonaws.com/${{ env.BRANCH }}/darwin_darwin_amd64/okctl)
            [Checksums](https://okctl-pr-preview.s3-eu-west-1.amazonaws.com/${{ env.BRANCH }}/okctl_checksums.txt)
          check_for_duplicate_msg: true