name: goreleaser

on:
  push:
    tags:
      - '*'
    branches:
      - master

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2
      -
        name: Unshallow
        run: git fetch --prune --unshallow
      -
        name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15.1

      - name: Get the git tag
        uses: little-core-labs/get-git-tag@v3.0.2
        id: tagName
        with:
          tagRegex: v(.*)
          tagRegexGroup: 1

      -
        name: Check if release notes exist
        uses: andstor/file-existence-action@v1
        with:
          files: docs/release_notes/${{ steps.tagName.outputs.tag }}
          allow_failure: false

      -
        name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2
        with:
          version: latest
          args: release --rm-dist --release-notes=docs/release_notes/${{ steps.tagName.outputs.tag }}.md
        env:
          GITHUB_TOKEN: ${{ secrets.GORELEASER_GITHUB_TOKEN }}
