name: goreleaser

on:
  push:
    tags:
      - '*'

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v2.3.5
      -
        name: Unshallow
        run: git fetch --prune --unshallow
 
      -
        name: Get the git tag
        uses: little-core-labs/get-git-tag@v3.0.2
        id: tagName
        with:
          tagRegex: v(.*)
          tagRegexGroup: 1

      -
        name: Check if release notes exist
        uses: andstor/file-existence-action@v1.0.1
        with:
          files: docs/release_notes/${{ steps.tagName.outputs.tag }}
          allow_failure: false

      -
        name: Run GoReleaser
        run: make release
        env:
          GITHUB_TOKEN: ${{ secrets.GORELEASER_GITHUB_TOKEN }}
          RELEASE_NOTES: docs/release_notes/${{ steps.tagName.outputs.tag }}.md